<!-- Add customer modal -->
<div id="addModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h4 class="modal-title">Add customer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="/customers?request=add">
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input id="customerName" class="form-control" type="text" name="customer_name" placeholder="Enter customer name ..." required>
                    </div>
                    <div class="form-group">
                        <label for="salesName">Sales Name</label>
                        <input id="salesName" class="form-control" type="text" name="sales_name" placeholder="Enter sales name ..." required>
                    </div>
                    <div class="form-group">
                        <label for="segmentation">Segmentation</label>
                        <input id="segmentation" class="form-control" type="text" name="segmentation" placeholder="Enter the segmentation ..." required>
                    </div>
                    <input type="submit" class="form-control btn btn-primary" value="Create">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</button>
            </div>
        </div>
    </div>
</div>