    <!-- Remove customer modal -->
    <div class="modal" id="removeModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remove Customer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure want to remove <strong><span class="text-info" id="customerNameValue"></span></strong> (Sales Name: <strong><span class="text-info" id="salesNameValue"></span></strong>)
                    </p>
                </div>

                <div class="modal-footer justify-content-center align-items-center">
                    <form method="POST" action="/customers?request=remove">
                        <input type="submit" class="btn btn-primary" value="Yes">
                        <input name="customer_id" id="customerIdValue" type="hidden">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>