    <!-- Remove customer modal -->
    <div class="modal" id="removeModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remove CID</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure want to remove this?
                    </p>
                    <table class="table">
                        <tr>
                            <td>CID</td>
                            <td><input id="removeCid" class="form-control" type="text" disabled></td>
                        </tr>
                        <tr>
                            <td>Service Name</td>
                            <td><input id="removeServiceName" class="form-control" type="text" disabled></td>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td><input id="removeCustomerName" class="form-control" type="text" disabled></td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td><input id="removeLocation" class="form-control" type="text" disabled></td>
                        </tr>
                        <tr>
                            <td>Rack Location</td>
                            <td><input id="removeRackLocation" class="form-control" type="text" disabled></td>
                        </tr>
                        <tr>
                            <td>Unit Location</td>
                            <td><input id="removeUnitLocation" class="form-control" type="text" disabled></td>
                        </tr>
                    </table>
                </div>

                <div class="modal-footer justify-content-center align-items-center">
                    <form method="POST" action="/cid?request=remove">
                        <input type="submit" class="btn btn-primary" value="Yes">
                        <!-- id is mandatory on remove request -->
                        <input name="id" id="removeId" type="hidden">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>