<!-- Edit cid modal -->
<div id="editModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit CID</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="POST" action="/cid?request=edit">
                    <div class="form-group">
                        <label for="editCid">CID</label>
                        <input id="editCid" class="form-control" type="text" name="cid">
                    </div>
                    <div class="form-group">
                        <label for="editServiceName">Service Name</label>
                        <input id="editServiceName" class="form-control" type="text" name="service_name">
                    </div>
                    <div class="form-group">
                        <label for="editCustomerName">Customer Name</label>
                        <input id="editCustomerName" class="form-control" type="text" name="customer_name">
                    </div>
                    <div class="form-group">
                        <label for="editLocation">Location</label>
                        <input id="editLocation" class="form-control" type="text" name="location">
                    </div>
                    <div class="form-group">
                        <label for="editRackLocation">Rack Location</label>
                        <input id="editRackLocation" class="form-control" type="text" name="rack_location">
                    </div>
                    <div class="form-group">
                        <label for="editUnitLocation">Unit Location</label>
                        <input id="editUnitLocation" class="form-control" type="text" name="u_location">
                    </div>
                    <input id="editId" type="hidden" name="id">
                    <input class="btn btn-primary form-control" type="submit" value="Save">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>
                    Close</button>
            </div>
        </div>
    </div>
</div>