<footer class="mt-auto bg-light text-center">
    <div class="container my-3">
        <p class="float-left">
            <span class="btn btn-light text-secondary">&copy; <a class="text-secondary" href="http://gtt-madamtbs.my.id/" target="__blank">gtt-madamtbs.my.id</a> - 2020</span>
        </p>
        <!-- <p class="float-right">
            <a class="btn btn-light" href="https://github.com/itsgitz" target="__blank"><i class="fab fa-github text-dark"></i> GitHub</a>
        </p> -->
    </div>
</footer>