<div class="col-xl-2">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/">
                    <i class="fas fa-home m-3"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/dashboard">
                    <i class="fas fa-tachometer-alt m-3"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/customers">
                    <i class="fas fa-file-contract m-3"></i> &nbsp;Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/cid">
                    <i class="fas fa-laptop m-3"></i> CID
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/access_rights">
                    <i class="fas fa-key m-3"></i> Access Rights
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/vlan">
                    <i class="fas fa-ethernet m-3"></i> VLAN
                </a>
            </li>
            @if($admin)
            <li class="nav-item">
                <a class="nav-link text-secondary" href="/users">
                    <i class="fas fa-users m-3"></i> Users
                </a>
            </li>
            @endif
        </ul>
    </nav>
</div>